<%= form_with model: @camp do |f| %>
  <div class="mb-3">
    <%= f.label :Название, class: "form-label" %>
    <%= f.text_field :title, required: true, placeholder: "Название", class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :Описание, class: "form-label" %>
    <%= f.text_area :description, placeholder: "Описание", class: "form-control", rows: "9" %>
  </div>
  <div class="mb-3">
    <%= f.label :Город, class: "form-label" %>
    <%= collection_select(:camp, :city_id, City.all, :id, :title, { include_blank: "Город не выбран" }, class: "form-select") %>
  </div>
  <%= f.submit "Сохранить объект", class: "btn btn-primary"%>
<% end %>
