<h2>Список городов</h2>
<%= link_to "Создать город", new_city_path, class: "mb-3 btn btn-primary" %>
<ul class="d-grid gap-1 ps-0">
  <% @cities.each do |city| %>
    <li class="card">
      <div class="card-body d-flex flex-row justify-content-between">
        <div class="d-flex align-items-center">
          <%= link_to city.title, city_path(city), class: "me-1" %> <span><%= " | #{ city.region.title }" if city.region.present? %></span>
        </div>
        <div>
          <%= link_to "ред.", edit_city_path(city), class: "btn btn-outline-secondary" %>
          <%= link_to "удалить", city_path(city), data: { method: :delete, confirm: "Вы уверены?" }, class: "btn btn-outline-danger" %></div>
      </div>
    </li>
  <% end %>
</ul>