<h2><%= @city.title %></h2>
<%= link_to "Редактировать город", edit_city_path, class: "mb-3 btn btn-secondary" %>
<p>Регион:
  <% if @city.region.present? %>
    <%= @city.region.title %>
    <%= " #{@city.region.country.title if @city.region.country.present?}" %>
  <% else %>
    "не указано"
  <% end %>
</p>
<h3>Доступные объекты размещения</h3>
<% if @city.camps.present? %>
  <ul class="d-grid gap-1 ps-0">
    <% @city.camps.each do |camp| %>
      <li class="card">
        <div class="card-body d-flex flex-row justify-content-between">
          <div class="d-flex align-items-center">
            <%= link_to camp.title, camp_path(camp), class: "me-1" %> <span><%= " | #{ camp.city.title }" if camp.city.present? %></span>
          </div>
          <div>
            <%= link_to "ред.", edit_camp_path(camp), class: "btn btn-outline-secondary" %>
            <%= link_to "удалить", camp_path(camp), data: { method: :delete, confirm: "Вы уверены?" }, class: "btn btn-outline-danger" %></div>
        </div>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>В данном городе нет доступных объектов размещения.</p>
<% end %>
